<div class="container text-center">	
	<h1>Showing New Articles</h1>
	<table class="table table-hover">
		<tr>
			<th class="bg-info">Title:</th>
			<td class="bg-warning"><%= @article.title%>
		</tr>
		<tr>
			<th class="bg-info">Description:</th>
			<td class="bg-warning"><%= @article.description%></td>
		</tr>
		<tr>
			<td colspan="2">
				
				<%= link_to 'Back', articles_path %>
				<%= link_to "Edit", edit_article_path(@article) %>
				<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you suure?"} %>
			</td>
		</tr>
	</table>
</div>